.main {
    text-align: center;
}

#audition-videos {
    width: 70%;
    height: 400px;
    float: left;
    overflow-x: hidden;
}

#audition-description {
    width: 25%;
    height: 400px;
    float: right;
    word-wrap: break-word;
    overflow-y: scroll;
}

#audition-description .title {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

#audition-script {
    clear: both;
    height: 100%;
    text-align: center;
}

#audition-script .title {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.production-foot {
  margin-top:20px;
}

.video-stream {
  height:200px;
  width:50%;
  float:left;
}

.video-stream video{
  width:100%;
}

.modal-description {
    word-wrap: break-word;
}

pre.script {
  text-align:left;
}

.production {
    height: 150px;
}
