<script src="https://cdn.respoke.io/respoke.min.js"></script>

<!--<ziggeo ziggeo-width=320-->
<!--    ziggeo-height=240-->
<!--    style="float: right">-->
<!--</ziggeo>-->

<div ng-init="loading=true">
  <h1 ng-show="loading">Loading...</h1>
  <h1>{{ audition.production.productionName }} &ndash; {{ audition.production.companyName }}</h1>
  <h3 ng-show="client.isConnected()">Loaded</h3>
  <div id="audition-videos" class="container-fluid">

    <div class="video-stream" ng-repeat="remote in remotes track by $index"  ng-attr-id="{{'localVideoSource-' + $index}}"
      ng-show="$index == 0"></div>

    <div class="video-stream" ng-repeat="remote in remotes track by $index" ng-attr-id="{{'remoteVideoSource-' + $index}}" ></div>

  </div>

  <!--<div id="audition-description" class="jumbotron">-->
  <!--  <h3 class="title">Description:</h3>-->
  <!--  {{ audition.production.descriptionBox }}-->
  <!--</div>-->

  <br/>

  <div id="audition-script" class="jumbotron">
    <h2 class="title">Script:</h2>
    <pre class="script">{{ audition.production.sampleScript }}</pre>

</div>
