<div ng-if="audition == null">
  <h1>Audition does not exist :(</h1>
</div>

<!-- <div ng-if="audition != null"> -->
<div>
  <div id="audition-videos" class="jumbotron container">

  </div>

  <div id="audition-description" class="jumbotron">
    <h3 class="title">Description:</h3>
    <p>
    fjaksdljfld;asfdasl;fdsajfk;ladjsklfjdaskl;f
    <br>
    <br>
    afjlkdsajfkladsjflds
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    fajdsflkjdaslkfjdlsk
    </p>
  </div>

  <br/>

  <div id="audition-script" class="jumbotron">
    <h2 class="title">Script: </h2>

    <p>
    fjaklsdfjla;sdfjkas
    afjkds;faklsdfj
    ajsdkfl;asdkfjasd
    fjkdsal;fjkldsajf
    asdjkf;lasdfjklasdjfas
    dfjkads;fjkldasf
    jfasdfjl;adsjfklads;fjkdsa
    fjkdasl;fsaljfdkl;fadsfjdksa
    jfaks;dfjkldsajfl;dsajkfsal;fjd
    asjfksad;fjdlsa;fj
    <br>
    <br>
    fjadlskfjdksal
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    afjdaslfjdklsaf
    </p>

  </div>
</div>

<script src="https://cdn.respoke.io/respoke.min.js"></script>
