
<script src="https://cdn.respoke.io/respoke.min.js"></script>

<div ng-init="loading=true">
  <h1 ng-show="loading">Loading...</h1>
  <h1>{{ audition.production.productionName }} &ndash; {{ audition.production.companyName }}</h1>
  <h3 ng-show="client.isConnected()">Connected</h3>
  <div id="audition-videos" class="jumbotron container">

    <div id="localVideoSource" class="video-stream"></div>
    <div id="remoteVideoSource" class="video-stream"></div>

  </div>

  <div id="audition-description" class="jumbotron">
    <h3 class="title">Description:</h3>
    {{ audition.production.descriptionBox }}
  </div>

  <br/>

  <div id="audition-script" class="jumbotron">
    <h2 class="title">Script: </h2>
    {{ audition.production.sampleScript }}

</div>
