<div class="modal fade" id="signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ current.productionName }} &ndash; {{current.companyName }}</h4>
      </div>
      <div class="modal-body">
        <h3>Description:</h3>
        <p class="modal-description">
          {{ current.descriptionBox }}
        </p>

        <h3>Script sample:</h3>
        <pre>{{ current.sampleScript }}</pre>

        <h3>Character to audition for:</h3>
        <form role="form">

          <div class="radio" ng-repeat="character in current.characters track by $index">
            <label><input type="radio" name="character" value="{{$index}}">{{character}}</label>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="submit()">Audition</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<h1>Browse Productions</h1>
<p>
  <a ng-href="#/post" class="btn btn-primary btn-large">Post New Production</a>
  <a ng-href="#/my_casting" class="btn btn-primary btn-large">My Production</a>

</p>
<div class="show-listing col-md-4" ng-repeat="(id, production) in productions">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{production.productionName}} &ndash; {{production.companyName}}</h3>
    </div>
    <div class="panel-body production">

      <div ng-if="production.descriptionBox == null || production.descriptionBox.trim().length == 0"><br></div>
      <div ng-if="production.descriptionBox.length > 47">{{production.descriptionBox.substring(0, 47) + "..."}}</div>
      <div ng-if="production.descriptionBox.length <= 47">{{production.descriptionBox}}</div>
      <br>
      <br>
        <a ng-click="signup(id)" class="audition-btn btn btn-success btn-large col-lg-8 col-lg-offset-2 col-xs-4 col-xs-offset-4">Audition</a>
      </div>

    </div>
  </div>
</div>
