<div class="jumbotron main" ng-init="checkLogin()">
  <h1>Auditionr</h1>
  <p class="lead">
    Live Your Potential
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Login<span class="glyphicon glyphicon-ok"></span></a></p> -->
  <p>
    <a class="btn btn-lg btn-primary" ng-click="fbLogin()">Facebook Login</a>
  </p>
  <!-- <form name="homepageForm" novalidate>

  <p>Username: <br>
  <input type="text" name="username" id="username" ng-model="user" required />
  </p>

  <p>Password: <br>
  <input type="password" name="password" ng-model="pass" required>
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#">Login</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Sign up</a></p>


</form> -->

</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
