<h1>Browse My Productions</h1>
<p>
  <a ng-href="#/post" class="btn btn-primary btn-large">Post New Production</a>
</p>
<div class="show-listing col-md-4" ng-repeat="(id, production) in productions">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a ng-href="#/casting/{{$root.authId}}/{{id}}"><h3 class="panel-title">{{production.productionName}} &ndash; {{production.companyName}}</h3>
      </a>
    </div>
    <div class="panel-body hide-content">

      <div ng-if="production.descriptionBox == null || production.descriptionBox.trim().length == 0"><br></div>
      <div ng-if="production.descriptionBox.length > 47">{{production.descriptionBox.substring(0, 47) + "..."}}</div>
      <div ng-if="production.descriptionBox.length <= 47">{{production.descriptionBox}}</div>
      <br>
    </div>
  </div>
</div>
